<div id='writeous'></div>

<div id='modal' :class='{ hidden: hidden }'>
  <div class='message'>{{ message }}</div>
  <div class='buttons'>
    <div id='modalconfirmbutton' class='button' @keydown.enter='confirm' @click='confirm' tabindex=1 >{{ confirmText }}</div>
    <div id='modaldenybutton'  class='button' @keydown.enter='deny' @click='deny' tabindex=2 >{{ denyText }}</div>
  </div>
</div>

<div id='topbar' :class='{ active: active }'>
    <span class='bold' :class='indicators.bold'>B</span>
    <span class='italic' :class='indicators.italic'>I</span>
</div>

<div id='rightbar'>
  <div class='icon' :class='mode'></div>
</div>

<div id='leftmenu' :class='{ hidden: hidden }'>

    <projectmenu></projectmenu>
    <accountmenu></accountmenu>

</div>

<div id='leftbar' :class='{ active: active !== "" }'>
    <div v-for='item in items' class='item' :class='{ [item]: true, active: item === active }' @click='click(item)'></div>
</div>



<template id='projectmenutemplate'>
    <div id='projectmenu'>
        <div class='section'>timeline</div>
        <div class='icons'>
            <div @click='appendNew()'>
                <draggable @clone='addBitClone' @end='endAdd' :options='{ sort: true, group: { name: "addbit", pull: "clone", put: false }, ghostClass: "addiconghost" }'>
                <div class='add' ><div>add</div></div>
                </draggable>
            </div>
        </div>
        <div class='bits' tabindex=-1 @keydown='handleKeydown'>
            <draggable v-model='bits' :options='{ group: "addbit", draggable: ".draggable" }' @start='onStart' @end='onEnd' @add='onAdd'>
            <div v-for='(bit, index) in filteredBits' :class='{ active: index === active, editing: index === editing, draggable: index !== editing }'>
                <input v-if='index === editing' type='text' v-model='bits[index].name' @blur='saveEdit' ref='input' v-focus></input>
                <div class='name' v-else @click='log("click"); setActive(index)' @dblclick='edit(index)'>{{ bit.name }}</div><div class='trash' @click='removeBit(index)'></div>
            </div>
            </draggable>
        </div>
        <input v-model='search' type='text' class='search' tabindex=-1 placeholder='search'></input>
    </div>
</template>

<template id='accountmenutemplate'>
    <div v-if='mode === "authenticated"' id='accountmenu'>
        <div class='title'>
            <div class='name'>{{ user.username }}</div>
            <div class='logout button' @click='logout'></div>
        </div>
        <div class='icons'>
            <div @click='prependNew()'>
                <div class='add' ><div>new project</div></div>
            </div>
        </div>
        <div class='bits' tabindex=-1 @keydown='handleKeydown'>
            <div>
                <div v-for='(project, index) in filteredProjects' :class='{ active: index === active, editing: index === editing }'>
                    <input v-if='index === editing' type='text' v-model='projects[index].name' @blur='saveEdit' ref='input' v-focus></input>
                    <div class='name' v-else @click='setActive(index)' @dblclick='edit(index)'>{{ project.name }}</div><div class='trash' @click='removeProject(index)'></div>
                </div>
            </div>
        </div>
        <input v-model='search' type='text' class='search' tabindex=-1 placeholder='search'></input>

    </div>
    <div v-else-if='mode === "login"' id='accountmenu'>
        <div class='title'>login</div>
        <div class='form'>
            <div class='loading-animation' :class='{ active: loginView.pending }'></div>
            <input v-model='inputs.username' type='text' placeholder='username' @keyup.enter='login'></input> 
            <input v-model='inputs.password' type='password' placeholder='password' @keyup.enter='login'></input> 
            <button type='button' @click='login'>login</button>
            <div class='link' @click='gotoSignup'>sign up</div>
            <div class='errors'>
                <div v-for='(error, index) in loginView.errors' class='error'>{{ error }}</div>
            </div>
        </div>
    </div>
    <div v-else-if='mode === "signup"' id='accountmenu'>
        <div class='title'>sign up</div>
        <div class='form'>
            <div class='loading-animation' :class='{ active: signupView.pending }'></div>
            <input v-model='inputs.username' type='text' placeholder='username' @keyup.enter='signup'></input> 
            <input v-model='inputs.email' type='text' placeholder='email' @keyup.enter='signup'></input> 
            <input v-model='inputs.password' type='password' placeholder='password' @keyup.enter='signup'></input> 
            <input v-model='inputs.confirmation' type='password' placeholder='confirm password' @keyup.enter='signup'></input> 
            <button type='button' @click='signup'>sign up</button>
            <div class='link' @click='gotoLogin'>go to login</div>
            <div class='errors'>
                <div v-for='(error, index) in signupView.errors' class='error'>{{ error }}</div>
            </div>
        </div>

    </div>
</template>
