<!doctype html>

<html>
  <head>
    <link href='lib/writeous/writeous_style.css' rel='stylesheet'>
    <link href='style.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
    <script src="//cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>
    <!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.15.0/vuedraggable.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <script src='app/main.mjs' type='module'></script>
  </head>

  <body>
    <div id='site'>
      <%= yield %>
    </div>
  </body>
</html>
