
html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: Tahoma, Geneva, sans-serif;
}

#site {
  width: 100%;
  height: 100%;
  //display: flex;
  //justify-content: center;
  //align-items: center;

  display: grid;
  grid-template-rows: 2em minmax(0, 1fr) 2em;
  grid-template-columns: 18em minmax(0, 1fr) 5em;
  grid-template-areas:
    'top top top'
    'lmn mid rmn'
    'bot bot bot';

  //background-color: #c5d8ff;
  background-image: url('./img/rainy.jpg');
  background-size: contain;
}

#writeous {
  grid-area: mid;
  background: rgba(155, 200, 255, 0.7);
  padding: 1em;
  padding-right: 0em;
  font-size: 16px;
  border-radius: 4px;
  box-sizing: border-box;
}

:focus {
  outline: none;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
}

#modal {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modal .message {
  font-size: 2em;
}

#modal .buttons {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
}

#modal .button {
  margin: 2em;
  margin-top: 1em;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 4px;
  cursor: pointer;
}

#modal .button:hover, #modal .button:focus {
  background-color: rgba(0, 0, 0, 0.6);
  color: #00c2c2;
}

#modal .button:active {
  background-color: #00c2c2;
  color: #ffffff;
}

#modal.hidden {
  display: none;
}

#leftmenu {
  grid-area: lmn;
  //border-style: solid;
  //border-width: 2px;
  background-color: rgba(155, 200, 255, 0.4);
  //margin: 1em;
  margin-left: 16px;
  margin-right: 0.1em;
  border-radius: 4px;
  //width: 0px;

}

.errors {
  font-size: 0.75em;
  font-style: italic;
  color: #770802;
  user-select: text;
}

.errors>.error:before {
  content: '- ';
}

#accountmenu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#accountmenu .bits {
  flex-grow: 0;
  flex-basis: 30%;
}

#accountmenu>.title {
  background-color: rgba(255, 255, 255, 0.3);
  width: 80%;
  font-size: 2em;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  display: flex;
  min-height: 1.25em;
  justify-content: center;
}

#accountmenu>.title>.name {
  flex-grow: 1;
}

#accountmenu>.title>.logout.button {
  display: inline-block;
  float: right;
  opacity: 0.5;
  height: 1em;
  width: 1em;
  align-self: center;
  margin-right: 0.1em;
  cursor: pointer;
  user-select: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url('./img/logout_icon.png');
  transition: all 150ms ease-in;
}

#accountmenu>.title>.logout.button:hover {
  opacity: 1;
}

#accountmenu>.form {
  background-color: rgba(255, 255, 255, 0.3);
  user-select: none;
  width: 80%;
  flex-grow: 1;
  margin-bottom: 1em;
  border-radius: 0px 0px 4px 4px;
  padding-top: 0.5em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

#accountmenu>.form>input[type=text],input[type=password] {
  padding-left: 0.25em;
}

#accountmenu>.form>input, button {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.25em;
  margin-bottom: 0.25em;
  border-radius: 4px;
  border-style: none;
}

#accountmenu>.form button {
  cursor: pointer;
}

#accountmenu>.form button:hover {
  color: #00c2c2;
  background-color: #e6e6e6;
}

#accountmenu>.form button:active {
  background-color: #00c2c2;
  color: #ffffff;
}

#projectmenu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.icons {
  font-size: 1.25em;
  height: 1.25em;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px 4px 0px 0px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.icons .add {
  color: #ffffff;
  cursor: pointer;
  background-image: url('./img/add_icon.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  padding-left: 1.25em;
}

#projectmenu>.icons:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.addiconghost div{
  font-style: italic;
}

.addiconghost div:after {
  height: 1.25em;
  content: ' new bit here';
}

#leftmenu.hidden {
  width: 0px;
}

#projectmenu>.section {
  background-color: rgba(255, 255, 255, 0.3);
  width: 80%;
  font-size: 2em;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  min-height: 1.25em;
}

.search {
  margin-bottom: 1em;
  width: 80%;
  box-sizing: border-box;
  margin-bottom; 1em;
  border-radius: 0px 0px 4px 4px;
  font-size: 1.25em;
  padding-left: 1.5em;
  background-image: url('./img/search_icon.png');
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: 0.25em;

  
}

.bits {
  background-color: rgba(255, 255, 255, 0.3);
  user-select: none;
  width: 80%;
  flex-grow: 1;
  padding-top: 0.5em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  box-sizing: border-box;
  overflow-y: auto;
}

.bits>div>* {
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.25em;
  margin-bottom: 0.1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bits input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border-style: none;
  font-size: inherit;
}

.bits>div>:not(.active):not(.editing):hover {
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.bits .name {
  flex-grow: 1;
}

.bits .trash {
  opacity: 0.5;
  width: 1.25em;
  height: 1.25em;
  background-image: url('./img/trash_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  display: none;
  transition: all 150ms ease-in;
}

.bits>div>:not(.editing):hover .trash{
  display: inherit;
}
.bits .trash:hover {
  opacity: 1;
}

.bits>div>:not(.editing).active {
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 0.5em;
  padding-right: 0.25em;
}

#rightbar {
  grid-area: rmn;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#rightbar .icon {
  margin-top: 16px;
  height: 32px;
  width: 32px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

#rightbar .icon.saving {
  background-image: url('./img/ellipsis.gif');
}

#rightbar .icon.saved {
  background-image: url('./img/check.png');
}


#rightbar .icon.unsaved {
  background-image: url('./img/unsaved.png');
}

#leftbar {
  opacity: 0;
  position: absolute;
  color: white;
  top: 10%;
  left: 0px;
  height: 70%;
  width: 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 200ms ease-in;
}

#leftbar.active {
  opacity: 1;
}


#leftbar:hover {
  opacity: 1;
}

#leftbar .item {
  opacity: 0.5;
  height: 32px;
  position: relative;
  left: 0em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
  user-select: none;
  transition: all 150ms ease-in;
}

#leftbar .item.active {
  opacity: 1;
}

#leftbar .item:hover {
  opacity: 1;
}

#leftbar .item.account {
  background-image: url('./img/account_icon.png');
}

#leftbar .item.project {
  background-image: url('./img/project_icon.png');
}


#topbar {
  opacity: 0;
  position: absolute;
  top: 0em;
  left: 0px;
  height: 1.9em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(155, 200, 255, 0.7);
  -webkit-mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(0, 0, 0, 0) 100%);
  //background: linear-gradient(90deg, rgba(255, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 25%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0) 100%);
  //box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(0, 0, 0, 0.7);

  transition: all 200ms ease-in;
}

#topbar:hover {
  opacity: 1;
}

#topbar.active {
  opacity: 1;
}

#topbar span {
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  font-size: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

#topbar span.active {
  color: #ffffff;
  text-shadow: 0px 0px 1em #fff, 0px 0px 1em #fff;
}

#topbar.show {
  top: 0em;
}


.link {
  font-style: italic;
  font-size: 0.9em;
  color: #003333;
  cursor: pointer;
}

.link:hover {
  color: #007777;
}

.link:active {
  color: #009999;
}

.form .link {
  text-align: center;
  margin-bottom: 1em;
}

.loading-animation {
  width: 1em;
  height: 1em;
  align-self: center; }

.loading-animation.active {
  background-image: url('./img/blocks.gif');
  background-size: contain;
}


